<!-- Full Code Replace || Design Complete -->


@{ ViewBag.Title = "About"; }

<h2>@ViewBag.Title  </h2>

<br />

<hr class="dotted border-top: 8px dotted #bbb bg-warning">

<p class="p-2"></p>

<div class="card ">
    <div class="card-body bg-dark">

        <div class="row">


            <div class="col-sm-12 ">

                <h3>
                    OverView
                    @*<small class="text-muted">with muted text</small>*@
                </h3>
                <p class="lead">Find Lost Thing is a project for multiple purposes. Here you can find what you have lost yesterday. Also the platform helps you to claim what you have gound that not belongs to you. As a common it a total solution for finding lost things.</p>
                <br />
                <h3>
                    How It Works ?
                    @*<small class="text-muted">with muted text</small>*@
                </h3>
                <p class="lead" >The mechanism of working . That's mint, well done your work on this project has been really impactful. Drop-dead date re-inventing the wheel, for this is meaningless. Put it on the parking lot high turnaround rate back to the drawing-board, so going forward, so start procrastinating 2 hours get to do work while procrastinating open book pretend to read while manager stands and watches silently nobody is looking quick do your web search manager caught you and you are fured. We’re starting to formalize flexible opinions around our foundations start procrastinating 2 hours get to do work while procrastinating open book pretend to read while manager stands and watches silently nobody is looking quick do your web search manager caught you and you are fured. I am dead inside keep it lean.</p>
                <h3>
                    Our Goal
                    @*<small class="text-muted">with muted text</small>*@
                </h3>
                <p class="lead">We want to spread the love and bonding to each other. You might wanna give it another shot this red is too red or we exceed the clients' expectations. Can you make it more infographic-y can you punch up the fun level on these icons we are a startup, and we exceed the clients' expectations. That's going to be a chunk of change i was wondering if my cat could be placed over the logo in the flyer this turned out different that i decscribed we try your eye, but can you change everything? the target audience is makes and famles aged zero and up. This turned out different that i decscribed could you do an actual logo instead of a font, but that will be a conversation piece nor make it pop or try a more powerful colour, and jazz it up a little, nor we are a big name to have in your portfolio. </p>

            </div>

        </div>
    </div>
</div>

