@{ ViewBag.Title = "Contact"; }

<h2>@ViewBag.Title</h2>

<br />



<div class="row">



    <div class="col-6 sm-12">
        <h3 class="card-header border-warning text-warning">Syed Rifat Manjur</h3>
        <div class="card-body">
            <h5 class="card-title">ID : 17.01.04.026</h5>
            <h6 class="card-subtitle text-muted">Group : 6</h6>
        </div>

        <div class="card-body">
            <p class="card-text">Our Social Media Account and Official Email is provided here. In case of swift action.</p>
        </div>
        <ul class="list-group list-group-flush">

            <a href="https://www.facebook.com/syed.rifat.357" class="btn btn-info btn-lg btn-block" role="button">Facebook</a>
            <a href="mailto:abuyousufsajal@gmail.com" class="btn btn-info btn-lg btn-block" role="button">E - Mail</a>
        </ul>
        <div class="card-body">

        </div>

        <div class="card-footer text-light" style="text-align : right">
            Back-End
        </div>
    </div>


    <!-- 2nd person-->

    <div class="col-6 sm-12">
        <h3 class="card-header border-warning text-warning" : AppWorkspace">MD. Abu Yousuf Sajal</h3>
        <div class="card-body">
            <h5 class="card-title">ID : 17.01.04.025</h5>
            <h6 class="card-subtitle text-muted">Group : 6</h6>
        </div>

        <div class="card-body">
            <p class="card-text">Our Social Media Account and Official Email is provided here. In case of swift action.</p>
        </div>
        <ul class="list-group list-group-flush">

            <a href="https://www.facebook.com/yousufsajal" class="btn btn-info btn-lg btn-block" role="button">Facebook</a>
            <a href="mailto:abuyousufsajal@gmail.com" class="btn btn-info btn-lg btn-block" role="button">E - Mail</a>
        </ul>
        <div class="card-body">

        </div>

        <div class="card-footer text-light" style="text-align : right">
            Front-End
        </div>
    </div>



</div>
