@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-sm-12">
            <div class="card border-primary">
                <div class="card-body text-warning">
                    <h1 class="display-3">FIND LOST THINGS TODAY</h1>
    
                </div>
            </div>
        </div>
    </div>

    <p class="p-2"></p>    

    <div class="jumbotron">
        
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-white bg-primary mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white bg-info mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white bg-success mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Info card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

