@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card border-info">
            <div class="card-body text-warning text-centre">
                <h1 class="display-3"><p class="text-warning" style="text-align:center">Find Lost Things Today</p></h1>

            </div>
        </div>
    </div>
</div>

<p class="p-2"></p>

<div class="jumbotron">

    <div class="row">
        <div class="col-sm-6">
            <div class="card text-white bg-primary mb-4">
                <div class="card-body">
                    <h5 class="card-title text-warning">Have You Lost Something ? </h5>
                    <p class="card-text">
                        Find Lost Thing is a platform where we help you to find your lost thing. The platform is based on the contribution of in general people and their support. If you lose anything you can post here with your details information.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card text-white bg-primary mb-4">
                <div class="card-body">
                    <h5 class="card-title text-warning">Have You Found Anything ?</h5>
                    <p class="card-text">If you have found anything anywhere and that not belongs to you you have come to the right place. Find Lost Thing helps to find the owner of a lost thing that you have found today. Please join and help to return the belongings.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card text-warning bg-primary">
                <div class="card-body">
                    <h4 class="card-title">Disclaimer !</h4>
                    <p class="card-text text-white">1. You agree, understand and acknowledge that the Site is an online platform that enables you to claim or report for lost products.</p>
                    <p class="card-text text-white">2. You further agree and acknowledge that we are only a facilitator and cannot be a party to or control in any manner any transactions. Accordingly, the contract between on the Site shall be a strictly bipartite.</p>
                    <p class="card-text text-white">3. Content provided on this Site is solely for informational purposes. Product representations including details, area, postal-code and any other details as expressed on this Site are the responsibility of the claimer. Individual(s) posting such content and may not reflect our opinions.</p>
                    <p class="card-text text-white">4. You must not use the website in any way that causes, or is likely to cause, the Site or access to it to be interrupted, damaged or impaired in any way. You must not engage in activities that could harm or potentially harm the Site directly or indirectly in any way.</p>
                    <p class="card-text text-white">
                        5. You agree that, we are not responsible for all electronic communications and content sent from your computer to us and you must use the Site for lawful purposes only. You are strictly prohibited from using the Site for fraudulent purposes, or in connection with a criminal offense or other unlawful activity
                        to post or claim any material that does not belong to you or illegal, offensive.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
